<div
class="principal relative h-screen w-screen flex justify-center items-center bg-black transition-colors duration-1000 text-modo/80">

<div class="absolute -top-[10%]  blur-[60px] bg-primary-color opacity-[0.13] rounded-b-full  w-[80%] h-[70%]"></div>

<div class="absolute bottom-32 left-0  blur-[60px] bg-primary-color opacity-[0.13] rounded-b-full w-[24rem] h-[18rem]">
</div>
<div class="absolute bottom-0 left-0  blur-[60px] bg-primary-color opacity-[0.13] rounded-b-full w-full md:w-[30rem] h-full md:h-[18rem]">
</div>

<div
  class="absolute top-[50%] right-0  blur-[60px] bg-primary-color  opacity-[0.15] rounded-b-full w-[23rem] h-[17rem]">
</div>


<div class="w-screen h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
  <router-outlet></router-outlet>
</div>



</div>

